/* SECTION = CAPITULOS .capitulos-container */
/* section
ul
    li
ul
section */


/* SECCION */
.indice-container {
    background-color: var(--blanco-elegante);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px 50px;
    box-shadow: 0px 90px px -150px var(--azul-elegante) inset, 0px -90px 108px -150px var(--azul-elegante) inset;
}
/* CONTENEDOR */
.ul-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/* TITULOS */
.titulos-container {
    width: 1000px;
    display: flex;
    margin: auto;
    overflow: hidden;

}
.titulos-container > li {
    width: 25%;
    border-radius: 15px 15px 0px 0px;
    flex-shrink: 0;
    font-size: 25px;
    list-style: none;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
/* UTILIZADO EN colorIntercalado() */
.oscura{
    background-color: var(--azul-elegante);
    color: var(--blanco-elegante);
    z-index: 10;
}
.clara{
    background-color: var(--blanco-elegante);
    color: var(--azul-elegante);
    border-top: 1px solid var(--gris-elegante);
    box-shadow: 0px -7px 10px -10px var(--gris-elegante);


}

/* CONTENEDOR DEL H2 Y H3 */
.titulo-seleecionado{
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: var(--azul-elegante);
}
.titulo-seleecionado > h2, h3{
    color: var(--azul-elegante);
    font-weight: 500;
}
.titulo-seleecionado > h2{
    font-size: 50px;
}
.titulo-seleecionado > h3{
    font-size: 30PX;
    font-weight: 500;
    font-style: italic;
}

/* CAPITULOS (CIRCULOS) */
.capitulos-container{
    background-color: var(--blanco-elegante);
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    gap: 60px;
    padding: 50px 20px;
    justify-content: center;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 90px 0px 100px -110px var(--gris-elegante), -90px 0px 100px -110px var(--gris-elegante);

}
.capitulo-li{
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capitulo-li > li{
    list-style: none;
    font-size: 60px;
    font-weight: 300;
    font-style: italic;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capitulo-li > span{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}


.capitulos-container > li {
    list-style: none;
    font-size: 50px;
    font-weight: 300;
    font-style: italic;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.capitulos-style1 {
    background-color: var(--azul-elegante);
    color: var(--blanco-elegante);
}
.capitulos-style2 {
    background-color: var(--marron-elegante);
    color: var(--blanco-elegante);
}
.capitulos-style3 {
    background-color: var(--beige-elegante);
    color: var(--azul-elegante);
}