@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rosarivo:ital@0;1&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  font-family: "Lora", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --azul-elegante: #242848;
  --beige-elegante: #e0d1c4;
  --blanco-elegante: #e6e6ee;
  --celeste-elegante: #98A5D2;
  --gris-elegante: #CDCDCD;
  --marron-elegante: #AA9077;

  --box-shadow-azul: 90px 0px 100px -110px var(--gris-elegante), -90px 0px 100px -110px var(--gris-elegante);
  --box-shadow-marron: 90px 0px 100px -110px var(--marron-elegante), -90px 0px 100px -110px var(--marron-elegante);

}
